{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color:red;">Welcome to the School App</h1>
            <p>Welcome to the School App! This is the home page where you can find various features and functionalities.</p>
            <p>This is the home page of the School App.</p>
    <p>Use the navigation menu to explore different sections of the app.</p>
        </div>
    </div>
</div>



{% endblock %}

