body {
    background-image: url('../images/cal.png');
    background-size: cover;
}
.d-flex-col {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.my-div {
    background-image: url('../images/cal.png');
    background-size: cover;
}
label {
    font-weight: normal;
}

