<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<h2>Employee Details</h2>
<p><strong>Name:</strong> {{ employee.name }}</p>
<p><strong>Age:</strong> {{ employee.age }}</p>
<p><strong>Salary:</strong> {{ employee.salary }}</p>
<p><strong>Designation:</strong> {{ employee.designation }}</p>
<p><strong>Place:</strong> {{ employee.place }}</p>
<p><strong>Department_name</strong> {{ employee.department_name }}</p>
<img src="{{ employee.image.url }}" style="height: 150px;" alt="{{ employee.name }}">
</body>
</html>