{% extends 'base.html' %}
{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="card bg-light p-4" style="width:50%; border-radius: 15px;">
        <form method="post">
            {% csrf_token %}
            <h4>Are you sure you want to delete "{{ movie.movie_name }}"?</h4>
            <div class="text-center mt-3 group">
                <a href="{% url 'home' %}" class="btn btn-success">Cancel</a>
                <a href="{% url 'editmovie' movie.id %}" class="btn btn-primary">Edit</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}