{% extends 'base.html' %}
{% load static %}
{% block title %}Logged Out{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="card p-4 shadow-sm text-center" style="max-width: 500px; width: 100%;">
    <h4 class="mb-3">
      <i class="fa-solid fa-right-from-bracket"></i> You’ve been logged out
    </h4>
    <p class="mb-3">We hope to see you again soon!</p>
    <a href="{% url 'signin' %}" class="btn btn-outline-primary">
      <i class="fa-solid fa-arrow-right-to-bracket"></i> Sign In Again
    </a>
  </div>
</div>
{% endblock %}
