{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="card p-4 shadow-sm text-center" style="max-width: 500px; width: 100%;">
    <h4 class="mb-3 text-success">
      <i class="fa-solid fa-check-circle"></i> Password Reset Successful
    </h4>
    <p class="mb-3">Your password has been set. You may now log in with your new password.</p>
    <a href="{% url 'signin' %}" class="btn btn-primary">
      <i class="fa-solid fa-right-to-bracket"></i> Sign In
    </a>
  </div>
</div>
{% endblock %}
