{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column">
  <div class="card p-4 shadow-sm text-center" style="max-width: 500px; width: 100%;">
    <h4 class="mb-3">
      <i class="fa-solid fa-circle-check text-success"></i> Password Updated Successfully
    </h4>
    <p class="mb-3">Your password has been changed. You can continue using your account.</p>
    <a href="{% url 'home' %}" class="btn btn-outline-success">
      <i class="fa-solid fa-house"></i> Go to Homepage
    </a>
  </div>
</div>
{% endblock %}
