{% extends 'base.html' %}
{% block title %}Addbook{% endblock %}
{% block content %}
<main class="box">
    <h2>Add Books-User Defined</h2>
    <form method="POST"  enctype="multipart/form-data" class="container">
       {% csrf_token %}
            {{form}}
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="t" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" name="a" class="form-control">
      </div>
         <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" name="n" class="form-control">
      </div>
         <div class="mb-3">
        <label class="form-label">Pages</label>
        <input type="number" name="p" class="form-control">
      </div>
         <div class="mb-3">
        <label class="form-label">Language</label>
        <input type="text" name="l" class="form-control">
      </div>
        <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="file" name="i" class="form-control">
      </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
{% endblock %}