{% extends 'base.html' %}
{% load static %}

{% block title %}All Books{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1 class="text-center text-dark">Books Available</h1>
  <table class="table table-bordered table-striped text-center align-middle">

    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Language</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for b in books %}
      <tr>
        <td>{{ b.title }}</td>
        <td>{{ b.author }}</td>
        <td>{{ b.pages }}</td>
        <td>₹{{ b.price }}</td>
        <td>{{ b.language }}</td>
        <td><img src="{{ b.cover_image.url }}" alt="cover" width="100" height="140"></td>
        <td>
          <a href="{% url 'books:book_detail' b.id %}" class="btn btn-primary btn-sm">Detail</a>
          <a href="{% url 'books:edit_book' b.id %}" class="btn btn-primary btn-sm">Edit</a>
          <a href="{% url 'books:delete_book' b.id %}" class="btn btn-primary btn-sm">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No books found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
